[submodule "ArduinoGmod/gmod-module-base"]
	path = ArduinoGmod/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base
	branch = development
[submodule "module/src/gmod-module-base"]
	path = module/src/gmod-module-base
	url = https://github.com/Facepunch/gmod-module-base
	branch = development
